@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* --color-primary: 167 39 51; */
  /* #a72733 */
  --color-primary: 30 122 172;
  /* sky-500 */
  --color-primary-dark: 22 101 140;
  /* sky-700 */
  --color-secondary: 227 69 90;
  /* indigo-500 */


  /* red main #a72733 */
  /* red dark #841F29 */
  /* red light #CF3040 */
  /* red more lighter #F1C5CA */


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f0;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
  cursor: pointer;
}

/* === Swiper Layout Fixes === */
.swiper {
  width: 100%;
}

.swiper-wrapper {
  height: auto !important;
  width: calc(100% * slides);
}


.swiper-slide {
  height: auto !important;
  display: flex;
}


/* Keep custom navigation buttons visible */
.cat-prev.swiper-button-disabled,
.cat-next.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}